*{
   /* padding: 0;
    margin: 0;*/
    box-sizing: border-box;
}

.form{
    width: 400px;
    height: 400px;
    background-color: rgb(202, 42, 34);
    padding: 50px;
    margin: auto;
    margin-top: 80px;
}